<%=render 'shared/sns_buttons', :url => 'http://welove.herokuapp.com', :twitter_text => 'we love heroku', :twitter_hash_tag => 'weloveheroku' %>
<div class="hero-unit">
  <h1><%=t(".h1")%></h1>
  <%=t(".description_html")%>
</div>
<%=render 'sites/index', :sites => @sites %>
